## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb

**/*.bit
**/*.blg
**/*.bbl
**/*.glo
**/*.glx
**/*.gxg
**/*.gxs
**/*.idx
**/*.ilg
**/*.ind
**/*.url
**/*.svn
**/*.acn
**/*.ist
**/*.glsdefs

**/*~
dissertation.synctex.gz
dissertation.dvi
dissertation.out.ps
dissertation.pdf

auto/